{% extends 'base.html.twig' %}

{% block title %}
	Détails du véhicule
{% endblock %}

{% block body %}

	<div class="container-fluid">

		<div class="row">

			<div class="col-md-8">

				<img src="{{ asset('images/' ~ vehicule.imagePrincipale) }}" class="img-fluid rounded" alt="{{ vehicule.nom }}">

			</div>

			<div
				class="col-md-4 mt-5">

                {# affiche le nom du véhicule en grand titre #}

				
				<h2 class="mb-3">{{ vehicule.nom }}</h2>

				{# affiche la description en texte clair #}
				<p class="text-muted">{{ vehicule.description }}</p>

				{# je crée un bloc pour le prix pour le mettre en valeur #}
				<div class="bg-light p-3 rounded my-4">
					<h4 class="mb-0">
						<strong>{{ vehicule.tarifJournalier }}
							€</strong>
						<span class="fs-6 text-muted">/ jour</span>
					</h4>
				</div>

				{# bouton pour la réservation #}
				<div
					class="d-grid">
					
					<a href="{{ path('app_vehicule_show', {'id': vehicule.id}) }}" class="btn btn-primary btn-lg">Réserver ce véhicule</a>
				</div>

			</div>

		</div>

	</div>


</div>{% endblock %}
