{% extends 'base.html.twig' %}

{% block title %}
	Détails du véhicule
{% endblock %}

{% block body %}

	<div class="container-fluid">

		<div class="row">

			<div class="col-md-8">

				<img src="{{ asset('images/' ~ vehicule.imagePrincipale) }}" class="img-fluid rounded" alt="{{ vehicule.nom }}">

			</div>

			<div class="col-md-4">
				 <h2 class="mb-3">{{ vehicule.nom }}</h2>
				<h5 class="card-title">{{ vehicule.nom }}</h5>
				<p class="card-text">{{ vehicule.description|slice(0, 400) ~ '...' }}</p>
				<strong>{{ vehicule.tarifJournalier }}
					€</strong>/jour</span>

		</div>

	</div>


</div>{% endblock %}
