<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/Logo Icon.png') }}" type="image/png">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  {# // <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>  #}  {# !!!!!C'EST ici que mon code planté qui empêcher
  de soumettre mon formulaire !!!!!!! #}
  <script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ asset('assets/vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/drift-zoom/Drift.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>

  <!-- Main JS File -->
   <script src="{{ asset('assets/js/main.js') }}"></script> 
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {% include 'partials/navbar.html.twig' %}
    

       
        {% block body %}
    <main class="container-fluid">
        
        
    </main>
        
              <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  {# // <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>  #}  {# !!!!!C'EST ici que mon code planté qui empêcher
  de soumettre mon formulaire !!!!!!! #}
  <script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ asset('assets/vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/drift-zoom/Drift.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>

  <!-- Main JS File -->
   <script src="{{ asset('assets/js/main.js') }}"></script> 


        {% endblock %}

        {% include 'partials/footer.html.twig' %}

        
       
      
  
</body>
</html>
