<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site de location de voitures.">
       
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>

        <link rel="icon" href="{{ asset('images/logo-icon.png') }}" type="image/png">
        <link href="{{ asset('css/navbar.css') }}" rel="stylesheet">
        <link href="{{ asset('css/responsive.css') }}" rel="stylesheet"> 
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}

    </head>
    <body class="d-flex flex-column vh-100">
        <header>
            {% include 'partials/navbar.html.twig' %}
        </header>

        <main class="flex-grow-1">
            <div class="container-fluid">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} text-center m-0" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block body %}
                {% endblock %}
            </div>
        </main>

        <footer class="mt-auto">
            {% include 'partials/footer.html.twig' %}
        </footer>

    </body>
</html>